* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #b8f2e6;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.top {
    display: flex;
    justify-content: space-around;
    background-color: #ccdbfd;
}

.top-one,
.top-two {
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;
    font-size: small;
    width: 40px;
    height: 40px;
}

.swiper-slide>img {
    position: relative;
    align-self: center;
    width: 1800px;
    height: 600px;
    left: 50px;
}

.quote {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 4ch;
    font-weight: 700;
    background-color: #90e0ef;
    color: white;
    padding: 50px 400px;
    text-align: center;
    left: 0;
    margin-left: 0;
    width: 100%;
}

#this-quote {
    width: 90%;
    left: 100px;
}

.services {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.description>h1 {
    text-decoration: underline;
}

.description>p {
    padding: 40px 400px;
    font-size: 2ch;
}

.options {
    display: flex;
    justify-content: center;
    padding: 30px 600px;
}

.opt-1 {
    flex: 1;
    color: #69c9b9;
}

.options-2 {
    display: flex;
    justify-content: center;
    padding: 40px 600px;
}

.opt-2 {
    flex: 1;
    color: #69c9b9;
}

.end {
    padding-bottom: 20px;
}

.view-more {
    padding-bottom: 10px;
}

.steps {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.desc {
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    padding-top: 20px;
}

.theory {
    padding: 60px 100px;
    display: flex;
    justify-content: space-evenly;
}

.content {
    font-family: 'Raleway', sans-serif;
}

.wellness {
    display: flex;
    padding: 10px 70px;
}

.flower .spa .mental-health {
    flex: 1;
}

.spa .mental-health>h3 {
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
}

.spa .mental-health {
    display: flex;
    flex-direction: column;
}

.mental-health {
    padding-left: 40px;
}

.flower {
    align-items: center;
    width: 600px;
}